<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Moutons disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row class="col">
        <div class="img">
          <img src="../../assets/moutons-2.jpg" alt="">
        </div>
        <ion-col class="infos">
          <p>Poids : 150kg</p>
          <p>Age : 15 mois</p>
          <p>Taille : 80cm</p>
          <p>Race : Laadoum</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row class="col">
        <div class="img">
          <img src="../../assets/moutons-1.jpg" alt="" style="height: 133px;">
        </div>
        <ion-col class="infos">
          <p>Poids : 150kg</p>
          <p>Age : 15 mois</p>
          <p>Taille : 80cm</p>
          <p>Race : Laadoum</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
